/WebService/nbproject/private/
/WebService/build/
/WebService/dist/
/Teste/nbproject/private/
/Teste/build/
/Perguntas/nbproject/private/
/Perguntas/build/
/WebService/CalculatorApp/nbproject/private/
/WebService/CalculatorClientApp/nbproject/private/
/WebService/CalculatorApp/build/
/WebService/WebService/nbproject/private/
/WebService/WebService/build/